<table align="center">
  <form method='get' action='/'>
    <input id='search' type='submit' value='Search' style="text-align:left">
  </form>
  <form method='get' action='/search_history'>
    <input id='history' type='submit' value='History'>
  </form>
</table>
