<style>
  body {
    background-size: cover;
    text-align: center;
  }

  button {
    border: none;
    padding: 60px 60px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
</style>

<body>
  <h1>Click a colour for your image search</h1>
<br>
<br>

  <table align="center">
    <tr>
      <th> <h2>Red</h2> </th>
      <th> <h2>Pink</h2> </th>
      <th> <h2>Orange</h2> </th>
      <th> <h2>Yellow</h2> </th>
      <th> <h2>Green</h2> </th>
      <th> <h2>Blue</h2> </th>
      <th> <h2>Purple</h2> </th>
    </tr>

    <tr>
      <th>
        <form action="/search" method="get">
          <button id="Red" value="Red" name="colour" style="background-color:red"> </button>
        </form>
      </th>

      <th>
        <form action="/search" method="get">
          <button id='Pink' value="Pink" name="colour" style="background-color:pink"> </button>
        </form>
      </th>

      <th>
        <form action="/search" method="get">
          <button id='Orange' value="Orange" name="colour" style="background-color:orange"> </button>
        </form>
      </th>

      <th>
        <form action="/search" method="get">
          <button id='Yellow' value="Yellow" name="colour" style="background-color:yellow"> </button>
        </form>
      </th>

      <th>
        <form action="/search" method="get">
          <button id="Green" value="Green" name="colour" style="background-color:green"> </button>
        </form>
      </th>

      <th>
        <form action="/search" method="get">
          <button id='Blue' value="Blue" name="colour" style="background-color:blue"> </button>
        </form>
      </th>

      <th>
        <form action="/search" method="get">
          <button id='Purple' value="Purple" name="colour" style="background-color:purple"> </button>
        </form>
      </th>
    </tr>
  </table>
</body>
