<style>
  body {
    background-size: cover;
    text-align: center;
  }
</style>

<body>
  <h1>Click a colour for your image search</h1>
<br>
<br>

  <table align="center">
    <tr>
      <th> <h2>Red</h2> </th>
      <th> <h2>Pink</h2> </th>
      <th> <h2>Orange</h2> </th>
      <th> <h2>Yellow</h2> </th>
      <th> <h2>Green</h2> </th>
      <th> <h2>Blue</h2> </th>
      <th> <h2>Purple</h2> </th>
    </tr>

    <tr>
      <th>
        <form action="/search" method="get">
          <button id="Red" value="Red" name="colour"> <img src="http://media.gizmodo.co.uk/wp-content/uploads/2016/12/hflvykipmc5g22mc3m0m.jpg" height="100" width="100"> </button>
        </form>
      </th>

      <th>
        <form action="/search" method="get">
          <button id='Pink' value="Pink" name="colour"> <img  src="http://www.colorcombos.com/images/colors/FF0080.png" height="100" width="100"> </button>
        </form>
      </th>

      <th>
        <form action="/search" method="get">
          <button id='Orange' value="Orange" name="colour"> <img  src="https://vignette2.wikia.nocookie.net/symbolism/images/4/43/Orange.png/revision/latest?cb=20140818120046" height="100" width="100"> </button>
        </form>
      </th>

      <th>
        <form action="/search" method="get">
          <button id='Yellow' value="Yellow" name="colour"> <img  src="http://is3.mzstatic.com/image/thumb/Purple127/v4/2a/83/05/2a83058f-bb42-0feb-dd9a-4bbbd83be2cd/source/1200x630bb.jpg" height="100" width="100"> </button>
        </form>
      </th>

      <th>
        <form action="/search" method="get">
          <button id="Green" value="Green" name="colour"> <img src="https://vignette4.wikia.nocookie.net/joke-battles/images/0/0e/Green.jpg/revision/latest?cb=20170111231844" height="100" width="100"> </button>
        </form>
      </th>

      <th>
        <form action="/search" method="get">
          <button id='Blue' value="Blue" name="colour"> <img  src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/ff/Solid_blue.svg/225px-Solid_blue.svg.png" height="100" width="100"> </button>
        </form>
      </th>

      <th>
        <form action="/search" method="get">
          <button id='Purple' value="Purple" name="colour"> <img  src="https://upload.wikimedia.org/wikipedia/en/8/8b/Purplecom.jpg" height="100" width="100"> </button>
        </form>
      </th>
    </tr>
  </table>
</body>
